{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block content %}
<div class="container mt-4">
    <p class="content_title"> {{ title }} </p>
    <img src="../static/user_img/{{ picture }}" alt="Image" class="article_img">
    <p class="content_text"> {{ text }} </p>
    {% if editable %}
    	<a href="#" align="center"><p align="center" class="login_button" style="margin-left: 40%; width: 20%;">Изменить</p></a>
        <a href="/delete_article/{{ id }}" align="center"><p align="center" class="login_button" style="margin-left: 40%; width: 20%;">Удалить</p></a>
    {% else %}
    {% endif %}
</div>

{% endblock %}