<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Неофициальный сайт МАОУ "СОШ №146"</title>
		<link rel="stylesheet" type="text/css" href="../static/css/style.css">
		<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
		{% block head %}
		{% endblock %}
	</head>
	<body>
		<!-- Header part -->
		<header id="header">
			<div class="logo">
				<img src="../static/img/logo.png" alt="logo">
			</div>
			<div class="main_text">
				<h1>МАОУ СОШ №146 с углубленным изучением математики, физики и информатики</h1>
				<p>Не разорвать уже окрепших уз: день ото дня растет семья большая.<br>Крепчает наш физматовский союз, на годы и невзгоды невзирая!</p>
			</div>
		</header>
		<!-- Top menu -->
		<menu id="top_menu">
			<div class="logo" id="top_menu_logo">
				<img src="../static/img/logo.png" alt="logo">
			</div>
			<div style="width: 80%; vertical-align: middle;">
				<ul class="menu">
					<a href="#" class="point_of_menu"><li>Войти<hr class="menu_line"></li></a>
					<a href="#" class="point_of_menu"><li>Архив газеты<hr class="menu_line"></li></a>
					<a href="#" class="point_of_menu"><li>ЕГЭ<hr class="menu_line"></li></a>
					<a href="#" class="point_of_menu"><li>ОГЭ<hr class="menu_line"></li></a>
					<a href="#" class="point_of_menu"><li>Столовая<hr class="menu_line"></li></a>
					<a href="#" class="point_of_menu"><li>Карта школы<hr class="menu_line"></li></a>
					<a href="#" class="point_of_menu"><li>Предметы<hr class="menu_line"></li></a>
					<a href="#" class="point_of_menu"><li>Олимпиады<hr class="menu_line"></li></a>
					<a href="#" class="point_of_menu"><li>О школе<hr class="menu_line"></li></a>
				</ul>
			</div>
		</menu>
		<!-- Main part -->
		<content>
			{% block content %}
        {% endblock %}
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</content>
		<!-- Fotter part -->
		<footer>
			<ul class="icons">
				<a href="https://www.facebook.com/school146perm" class="icon"><li><img src="../static/img/facebook.png"></li></a>
				<a href="https://www.instagram.com/school146perm/" class="icon"><li><img src="../static/img/instagram.png"></li></a>
				<a href="https://twitter.com/school146" class="icon"><li><img src="../static/img/twitter.png"></li></a>
				<a href="https://www.youtube.com/channel/UC5WufrqFj3o7FIJP9ySKF-g" class="icon"><li><img src="../static/img/youtube.png"></li></a>
			</ul>
			<p>
				© Муниципальное автономное общеобразовательное учреждение<br>"Средняя общеобразовательная школа № 146 с углубленным изучением математики, физики, информатики" г.Перми, 2003-2021 гг.
			</p>
		</footer>
	</body>
</html>
