<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Неофициальный сайт МАОУ "СОШ №146"</title>
		<link rel="stylesheet" type="text/css" href="../static/css/style.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
		<script type="text/javascript" src="../static/js/content.js"></script>
		<link rel="shortcut icon" href="../static/img/icon.png" type="image/png">
		{% block head %}
		{% endblock %}
	</head>
	<body onload="main()">
		<!--
			<li class="point_of_menu group">Предметы<hr class="menu_line">
				<ul class="submenu">
					<a href="#" class="poin_of_submenu"><li class="poin_of_submenu">test<hr class="submenu_line"></li></a>
					<a href="#" class="poin_of_submenu"><li class="poin_of_submenu">tesat<hr class="submenu_line"></li></a>
				</ul>
			</li>
		-->
		<!-- Header part -->
		<header id="header">
			<div class="logo" id="top_menu_logo">
				<a href="/">
					<img src="../static/img/logo.png" alt="logo">
				</a>
			</div>
			<div id="top_menu" class="menu">
				<ul class="point_menu">
					{% if current_user.is_authenticated %}
                    <a href="/user_info" class="point_of_menu"><li>{{ current_user.name }}<hr class="menu_line"></li></a>
                    {% else %}
                    <a href="/login" class="point_of_menu"><li>Войти<hr class="menu_line"></li></a>
                    {% endif %}
					<a href="/school_plan" class="point_of_menu"><li class="point_of_menu group">Архивы<hr class="menu_line"></li></a>
					<a href="/canteen" class="point_of_menu"><li>Столовая<hr class="menu_line"></li></a>
					<a href="https://s146.ru/interim" class="point_of_menu"><li>Аттестация<hr class="menu_line"></li></a>
					<a href="/timetable" class="point_of_menu"><li>Расписание<hr class="menu_line"></li></a>
					<a href="https://school.permkrai.ru/" class="point_of_menu"><li>Предметы<hr class="menu_line"></li></a>
					<a href="https://regionolymp.ru/" class="point_of_menu"><li>Олимпиады<hr class="menu_line"></li></a>
					<a href="https://s146.ru/shum" class="point_of_menu"><li>ШЮМ<hr class="menu_line"></li></a>
					<a href="https://vk.com/mathperm2021" class="point_of_menu"><li>ФМЛ<hr class="menu_line"></li></a>
					<a href="/about_school" class="point_of_menu"><li>О школе<hr class="menu_line"></li></a>
				</ul>
			</div>
		</header>
		<!-- Main part -->
		<content>
		{% block content %}
        {% endblock %}
		</content>
		<!-- Fotter part -->
		<footer>
			<ul class="icons">
				<a href="https://www.facebook.com/school146perm"><li class="icon"><img src="../static/img/facebook.png" style="width: 100%"></li></a>
				<a href="https://www.instagram.com/school146perm/"><li class="icon"><img src="../static/img/instagram.png" style="width: 100%"></li></a>
				<a href="https://twitter.com/school146"><li class="icon"><img src="../static/img/twitter.png" style="width: 100%"></li></a>
				<a href="https://www.youtube.com/channel/UC5WufrqFj3o7FIJP9ySKF-g"><li class="icon"><img src="../static/img/youtube.png" style="width: 100%"></li></a>
			</ul>
			<p style="margin: 0px;">
				© Муниципальное автономное общеобразовательное учреждение<br>"Средняя общеобразовательная школа № 146 с углубленным изучением математики, физики, информатики" г.Перми, 2003-2021 гг.
			</p>
		</footer>
	</body>
</html>