{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block content %}
<div class="container mt-4">
    <p class="content_title"> Столовая </p>
    <p class="content_text">Меню</p>
    <table class="content_text" align="center">
    	<tr>
    		<td>Блюдо, шт.</td><td>Цена, руб.</td>
    	</tr>
    	<tr>
    		<td>Хлеб</td><td>2</td>
    	</tr>
    	<tr>
    		<td>Пюре</td><td>50</td>
    	</tr>
    	<tr>
    		<td>Куринная котлета</td><td>50</td>
    	</tr>
    	<tr>
    		<td>Маккароны</td><td>50</td>
    	</tr>
    	<tr>
    		<td>Борщ</td><td>50</td>
    	</tr>
    	<tr>
    		<td>Трюфели</td><td>50</td>
    	</tr>
    	<tr>
    		<td>Чай</td><td>50</td>
    	</tr>
    </table>
</div>

{% endblock %}