{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block content %}
    <h1 class="content_title" align="center">Изменение данных аккаунта</h1><br>
    <form class="input_content" method="POST">
        {% if message %}
        <div class="text">{{ message }}</div>
        {% endif %}

        <p class="content_text" align="center">{{ form.hidden_tag() }}</p>
        <p class="content_text" align="center">{{ form.csrf_token }}</p>

        <p class="content_text" align="center">{{ form.email.label }}</p>
        {% for error in form.email.errors %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
        <div class="form-group">
            {{ form.email(class="form-control") }}
        </div>

        <p class="content_text" align="center">{{ form.name.label }}</p>
        {% for error in form.name.errors %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
        <div class="form-group">
            {{ form.name(class="form-control") }}
        </div>

        <p class="content_text" align="center">{{ form.password.label }}</p>
        {% for error in form.password.errors %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
        <div class="form-group">
            {{ form.password(class="form-control") }}
        </div>


        <p class="simple-line content_text" align="center">{{ form.submit(class="login_button") }}</p>
             </form>
{% endblock %}