{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block content %}
<div class="article tile post-1">
				<div class="article_text">
	                <h2 class="article_h" id="article_h_0">Lorem ipsum dolor sit amet</h2>
	                <p class="article_p" id="article_text_0">Quisque nisi libero, egestas non bibendum quis, sodales facilisis libero. Nulla ultricies ipsum et lobortis ultrices.</p>
            	</div>
            </div>
            <div class="tile post-2"></div>
            <div class="tile post-3"></div>
            <div class="tile post-4"></div>
	        <a href="#" class="tile post-5">
	            <div class="article">
					<div class="article_text">
		                <h2 class="article_h" id="article_h_1">Lorem ipsum dolor sit amet</h2>
		                <p class="article_p" id="article_text_1">Quisque nisi libero, egestas non bibendum quis, sodales facilisis libero. Nulla ultricies ipsum et lobortis ultrices.</p>
	            	</div>
	            </div>
        	</a>
            <div class="tile post-6"></div>
	        <a href="#" class= "tile post-11">
	       		<div class="article">
					<div class="article_text">
		                <h2 class="article_h" id="article_h_2">Lorem ipsum dolor sit amet</h2>
		                <p class="article_p" id="article_text_2">Quisque nisi libero, egestas non bibendum quis, sodales facilisis libero. Nulla ultricies ipsum et lobortis ultrices.</p>
	            	</div>
	            </div>
        	</a>
            <div class="tile post-8"></div>
            <div class="tile post-9"></div>
            <div class="tile post-10"></div>
	        <a href="#" class="tile post-7">
	        	<div class="article">
					<div class="article_text">
		                <h2 class="article_h" id="article_h_3">Lorem ipsum dolor sit amet</h2>
		                <p class="article_p" id="article_text_3">Quisque nisi libero, egestas non bibendum quis, sodales facilisis libero. Nulla ultricies ipsum et lobortis ultrices.</p>
	            	</div>
	            </div>
        	</a>
            <div class="tile post-12"></div>
            <div class="tile post-13"></div>
{% endblock %}