{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block content %}
    <h1 class="content_title" align="center">ВХОД</h1>
    <form class="input_content" method="POST">
        {% if message %}
        <div class="alert alert-danger content_text">{{ message }}</div>
        {% endif %}

        {{ form.hidden_tag() }}
        {{ form.csrf_token }}

        {% for error in form.email.errors %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
            <label>{{ form.email.label(class="content_text") }}</label>
            <p>{{ form.email(class="login") }}</p>

        {% for error in form.password.errors %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
            <label>{{ form.password.label(class="content_text") }}</label>
            <p>{{ form.password(class="login") }}</p>


        {{ form.submit(class="login_button") }}
    </form>
{% endblock %}