{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block content %}
<div class="container mt-4">
    <p class="content_title">Новости</p>
    <p class="content_text">
    	<ul>
    		<a href="#" class="content_text"><li class="content_text">Заголовок1</li></a>
    		<a href="#" class="content_text"><li class="content_text">Заголовок2</li></a>
    		<a href="#" class="content_text"><li class="content_text">Заголовок3</li></a>
    		<a href="#" class="content_text"><li class="content_text">Заголовок4</li></a>
    	</ul>
    </p>
</div>

{% endblock %}